.novaImagem {
  padding: 40px;

}

.novaImagem__header {
  margin-bottom: 30px;
}

.novaImagem__header p {
  color: var(--color-text-secondary);
}

/* FORM */

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

/* FIELD */

.field {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

/* INPUT */

.input {
  width: 100%;

  padding: 14px 16px;

  border-radius: 10px;

  border: 1px solid rgba(255,255,255,0.08);

  background: rgba(255,255,255,0.03);

  color: #fff;

  outline: none;

  transition: 0.2s;
}

.input:focus {
  border-color: rgba(255,122,0,0.6);
}

/* UPLOAD */

.uploadBox {

  display: flex;

  align-items: center;
  justify-content: center;

  height: 50px;

  border-radius: 10px;

  border: 1px dashed rgba(255,255,255,0.15);

  background: rgba(255,255,255,0.02);

  cursor: pointer;

  transition: 0.2s;
}

.uploadBox:hover {
  border-color: rgba(255,122,0,0.6);
  background: rgba(255,122,0,0.08);
}

.uploadBox span {
  color: var(--color-text-secondary);
}

.uploadBox input {
  display: none;
}

/* PREVIEW */

.previewBox {

  height: 200px;

  border-radius: 12px;

  border: 1px solid rgba(255,255,255,0.08);

  display: flex;

  align-items: center;
  justify-content: center;

  color: var(--color-text-secondary);

  background: rgba(255,255,255,0.02);
}

.previewBox img {
  width: 100%;
  height: 100%;

  object-fit: cover; /* 🔥 resolve tudo */
}

/* BOTÃO */

.publishBtn {

  padding: 14px;

  border-radius: 10px;

  border: none;

  background: var(--color-primary);

  color: #000;

  font-weight: 600;

  cursor: pointer;

  transition: 0.2s;
}

.publishBtn:hover {
  background: var(--color-primary-hover);
}