.adminPage {
  padding: 40px;
}

.adminPage__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.adminPage__header h1 {
  margin-bottom: 5px;
}

.adminPage__header p {
  color: var(--color-text-secondary);
}

/* TABELA USUÁRIOS */

.usersTable {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.usersTable__row {
  display: grid;
  grid-template-columns: 1fr 420px 170px;
  align-items: center;

  padding: 18px;
  border-radius: 14px;

  background: rgba(255,255,255,0.03);
  border: 1px solid rgba(255,255,255,0.08);

  transition: 0.25s;
}

.usersTable__row:hover {
  transform: translateY(-2px);
  border-color: rgba(255,122,0,0.5);
}

.usersTable__name {
  font-weight: 500;
}

.usersTable__email {
  text-align: left;
  white-space: nowrap;
  color: var(--color-text-secondary);
}

.usersTable__phone {
  text-align: right;
  white-space: nowrap;
  color: var(--color-primary);
}

@media (max-width: 768px) {
  .usersTable__row {
    grid-template-columns: 1fr;
    gap: 8px;
    text-align: left;
  }

  .usersTable__email {
    text-align: left;
    white-space: normal;
  }

  .usersTable__phone {
    text-align: left;
  }
}