# ========================
# NODE / FRONTEND
# ========================
node_modules/
dist/
build/
.env
.env.local

# ========================
# PYTHON / BACKEND
# ========================
venv/
__pycache__/
*.pyc
.env

# ========================
# FIREBASE (CRÍTICO)
# ========================
firebase_key.json
app/firebase_key.json

# ========================
# SISTEMA
# ========================
.DS_Store
Thumbs.db

# ========================
# EDITORES
# ========================
.vscode/
.idea/

# ========================
# LOGS
# ========================
*.log