.adminSidebar {

  position: fixed;

  top: 90px;
  left: 0;

  width: 110px;
 height: calc(100vh - 90px);
overflow-y: auto;
overflow-x: hidden;

  background: #141414; /* mais escuro que header */

  border-right: 1px solid rgba(255,255,255,0.06);

  display: flex;
  justify-content: center;

  padding-top: 20px;




/* esconder scrollbar */
scrollbar-width: none; /* Firefox */
-ms-overflow-style: none; /* IE/Edge antigo */
}

.adminSidebar::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/* NAV */

.adminSidebar__nav {
  min-height: 100%;
 padding-bottom: 30px;

  display: flex;
  flex-direction: column;
  gap: 24px;
}

/* ITEM */

.sidebarItem {

  display: flex;
  flex-direction: column;

  align-items: center;
  gap: 6px;

  text-decoration: none;

  color: var(--color-text-secondary);

  font-size: 0.75rem;

  transition: 0.25s ease;
}

.sidebarItem:last-child {
  margin-bottom: 30px;
}

/* ICON */

.sidebarIcon {

  font-size: 35px;

  color: var(--color-text-secondary);

  padding: 10px;

  border-radius: 12px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(255,255,255,0.05);

  transition: 0.25s ease;
}

/* HOVER */

.sidebarItem:hover {

  color: var(--color-primary);
}

.sidebarItem:hover .sidebarIcon {

  background: rgba(255,122,0,0.15);
}

/* ACTIVE */

.sidebarItem.active {

  color: var(--color-primary);
}

.sidebarItem.active .sidebarIcon {

  background: rgba(255,122,0,0.2);
}


/* MOBILE SIDEBAR */

@media (max-width: 768px) {

  .adminSidebar {
    position: fixed;
    top: 0;
    left: -260px;

    width: 120px;
    height: 100%;

    background: var(--color-background-secondary);

    transition: 0.3s;

    z-index: 1500;
  }

  .adminSidebar.open {
    left: 0;
  }

}