:root {
  --color-background: #0f0f0f;
  --color-background-secondary: #1a1a1a;

  --color-primary: #ff7a00;
  --color-primary-hover: #ff9100;

  --color-text: #ffffff;
  --color-text-secondary: #cccccc;

  --color-border: #2a2a2a;

  --font-primary: 'Arial', sans-serif;
  --transition-default: 0.3s ease;
}

/* RESET TOTAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  height: 100%;
  background-color: var(--color-background);
}

body {
  font-family: var(--font-primary);
  color: var(--color-text);
}


button {
  border: none;
  background: none;
  cursor: pointer;
}

.btn {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px 18px;
  border-radius: 12px;
  font-weight: 600;
  transition: 0.3s;
  border: none;
  cursor: pointer;
  text-decoration: none;
}