.sectionDivider {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 30px;

  margin: 80px 0;
  padding: 0 20px;
}

.sectionDivider__line {
  flex: 1;
  height: 1px;

  background: linear-gradient(
    to right,
    transparent,
    rgba(255, 122, 0, 0.4),
    transparent
  );
}

.sectionDivider__logo {
  width: 50px;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;


  
  
}

.sectionDivider__logo img {
  width: 30px;
  opacity: 0.8;
}